
<div class="container">

  <div data-mdb-input-init class="form-outline mb-4">
    <input type="text" id="form7Example1" class="form-control"  name ="search" [(ngModel)]="search" />
    <label class="form-label" for="form7Example1">Name</label>
    <button (click) ="getMovies()" > search : {{search}}</button>
  </div>


  <div class="row mt-5 mb-6">
    <div class="col-3" *ngFor="let movie of movies">
      <div class="card">
        <img [src]="movie.Poster" class="card-img-top" alt="{{ movie.Title }}" />
        <div class="card-body">
          <h5 class="card-title">{{ movie.Title }}</h5>
          <p class="card-text">{{ movie.Year }} - {{ movie.Type }}</p>
          <button  type="button" class="btn btn-primary">View Details</button>
          <a [routerLink]="['movie', movie.imdbID]" class = 'btn btn-primary'>view more</a>
        </div>
      </div>
    </div>
  </div>
