
<app-header>

</app-header>
/*
<div  class="container">

  <div class = "row">

    <div class = "col-3">


      <app-card
        [textButtonCard]='textButton'
        [imageCard]='image2'
     [descriptionCard]='descriptionum'></app-card>

    </div>
    <div class = "col-3">


      <app-card
      [textButtonCard]="'textButton'"
      [imageCard] = "'https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U'"
      [descriptionCard]='descriptiondois'></app-card>

    </div>
    <div class = "col-3">


      <app-card
        [textButtonCard]="'textButton'"
        [imageCard] = "'https://fastly.picsum.photos/id/237/200/300.jpg?hmac=TmmQSbShHz9CdQm0NkEjx1Dyh_Y984R9LpNrpvH2D_U'"
        [descriptionCard]='descriptiondois'

      ></app-card>

    </div>
    <div class = "col-3">


      <app-card [imageCard]='image_'
                [descriptionCard]='descriptiondois'
                [textButtonCard]="'boato'"

      ></app-card>

    </div>

    </div>


</div>
<h1>Hello world {{name}}</h1>
<router-outlet></router-outlet>
<app-footer></app-footer>



