/* Estilo da marca da navbar */
.navbar-brand {
   
    font-size: 28px; /* Ajustando o tamanho da fonte */
    color: #ffffff; /* Definindo a cor do texto como branco */
}

/* Estilo dos itens de menu da navbar */
.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif; /* Usando a fonte Roboto */
    font-size: 18px; /* Ajustando o tamanho da fonte */
    color: #ffffff; /* Definindo a cor do texto como branco */
}

/* Estilo do botão de pesquisa */
.form-control {
    border-color: #ffffff; /* Definindo a cor da borda como branco */
    color: #ffffff; /* Definindo a cor do texto como branco */
}

/* Estilo do botão de busca */
.btn-outline-success {
    color: #ffffff; /* Definindo a cor do texto como branco */
    border-color: #ffffff; /* Definindo a cor da borda como branco */
}

/* Estilo dos ícones do botão de busca (opcional) */
.btn-outline-success .bi {
    color: #ffffff; /* Definindo a cor do ícone como branco */
}




  
  .navbar-brand {
    font-size: 1.5rem; /* Tamanho da fonte do logotipo */
  }
  
  .navbar-gradient {
    background-image: linear-gradient(to right, #695eff, #b9b8ff)!important; /* Gradient colors */
  }
  .navbar-nav .nav-link {
    font-size: 1.1rem; /* Tamanho da fonte dos links de navegação */
  }
  
  .navbar-toggler {
    border-color: #6e6c6c; /* Cor da borda do botão de alternância da barra de navegação */
  }
  
  .navbar-toggler-icon {
    background-color: #b8a5a5; /* Cor do ícone de alternância da barra de navegação */
  }
  
  .form-control {
    width: 250px; /* Largura do campo de pesquisa */
  }
  
  

  .btn-outline-success:hover {
    background-color: #2b2c2b; /* Cor de fundo do botão de pesquisa ao passar o mouse */
    color: #fff; /* Cor do texto do botão de pesquisa ao passar o mouse */
  }


/*--------------------------------------------------------------------------------------------*/


   /* Estilos para o conteúdo do main */
   .card {
    transition: transform 0.3s; /* Efeito de transição ao passar o mouse */
  }

  .card:hover {
    transform: translateY(-5px); /* Efeito de levantar ao passar o mouse */
  }

  .card-img-top {
    object-fit: cover; /* Garante que a imagem se ajuste ao tamanho da card */
    height: 200px; /* Altura da imagem */
  }

  .card-title {
    font-size: 1.25rem; /* Tamanho do título */
  }

  .card-text {
    font-size: 1rem; /* Tamanho do texto */
  }

  .card-link {
    color: #28a745; /* Cor do link */
  }

  #background_noticias{

    background-image: url('img/formula.jpg')!important;


  }

  .social-media-icons a {
    color: #1f1d1d; /* Cor dos ícones de mídia social */
    height: 15px;
  }
  
  .social-media-icons a:hover {
    color: #75737a; /* Cor dos ícones de mídia social ao passar o mouse */
  }

  