<div class="text-center mx-auto">
  <div class="card text">
    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img [src]='poster' class="img-fluid"/>
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{title}}</p>
      <p class="card-text">Year {{year}}</p>
      <p class="card-text">Description {{description}}</p>
      <p class="card-text">ID {{id}}</p>
    </div>
  </div>
</div>
