
<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">{{title}}</h1>
  <h4 class="mb-3">Subheading</h4>
  <a class="btn btn-primary" href="" role="button">View</a>
</div>
<!-- Jumbotron -->

<div class="container">

  <div class="row my-3">
    <div class="col col-lg-4">
     <img
       [src]='imageOne'
       class="img-fluid hover-shadow"
       alt="Los Angeles Skyscrapers"
     />
    </div>
    <div class="col col-lg-4">
      <img
        [src]='imageTwoo'
        class="img-fluid hover-shadow"
        alt="Los Angeles Skyscrapers"
      />
    </div>
    <div class="col col-lg-4">
      <img
        [src]='imageFour'
        class="img-fluid hover-shadow"
        alt="Los Angeles Skyscrapers"
      />
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-4">
      <img
        [src]='imageThree'
        class="img-fluid hover-shadow"
        alt="Los Angeles Skyscrapers"
      />
    </div>
    <div class="col col-lg-4">
      <img
        [src]='imageFive'
        class="img-fluid hover-shadow"
        alt="Los Angeles Skyscrapers"
      />
    </div>
    <div class="col col-lg-4">
      <img
        [src]='imageSix'
        class="img-fluid hover-shadow"
        alt="Los Angeles Skyscrapers"
      />
    </div>
  </div>


</div>


