<app-header></app-header>


<app-carrosel></app-carrosel>
<div class="container">
<div class = "row">
  <div class="col col-lg-4  ">
    <app-card></app-card>
  </div>
  <div class="col col-lg-4 ">
    <app-card></app-card>
  </div>
  <div class="col col-lg-4 ">
    <app-card></app-card>
  </div>
</div>

  <div class = "row mt-2">
    <div class="col col-lg-6">
     <div>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget magna vel ligula facilisis fringilla. Nullam at quam auctor, fermentum lorem id, bibendum ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
       <p>Fusce sed metus id nulla scelerisque tempus. Vestibulum id ultrices justo. Nunc id lorem in nunc tempor malesuada. Proin eleifend, magna sit amet accumsan ultrices, nulla velit fringilla odio, eget tincidunt lorem nisi eget purus. Sed ut mauris metus. Ut vel dolor vitae justo suscipit pharetra. </p>
       <p>Curabitur convallis ligula nec sapien vestibulum lobortis. Aliquam feugiat arcu sit amet nunc congue, vitae ultricies eros vestibulum. In hac habitasse platea dictumst. Phasellus dignissim, lorem at ultrices malesuada, mauris turpis pharetra magna, nec vulputate elit urna id justo. Sed sed nunc vitae lacus scelerisque ultrices. </p>

     </div>
    </div>
    <div class="col col-lg-6">
     <div class="text-center"> <img src="https://fastly.picsum.photos/id/40/4106/2806.jpg?hmac=MY3ra98ut044LaWPEKwZowgydHZ_rZZUuOHrc3mL5mI" height="400"></div>
    </div>

</div>
  <div class = "row mt-2">
    <div class="col col-lg-6">
      <div>
        <div class="text-center"> <img src="https://fastly.picsum.photos/id/40/4106/2806.jpg?hmac=MY3ra98ut044LaWPEKwZowgydHZ_rZZUuOHrc3mL5mI" height="400"></div>
      </div>
    </div>
    <div class="col-6 col-3">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget magna vel ligula facilisis fringilla. Nullam at quam auctor, fermentum lorem id, bibendum ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
      <p> Fusce sed metus id nulla scelerisque tempus. Vestibulum id ultrices justo. Nunc id lorem in nunc tempor malesuada. Proin eleifend, magna sit amet accumsan ultrices, nulla velit fringilla odio, eget tincidunt lorem nisi eget purus. Sed ut mauris metus. Ut vel dolor vitae justo suscipit pharetra. </p>
      <p> Curabitur convallis ligula nec sapien vestibulum lobortis. Aliquam feugiat arcu sit amet nunc congue, vitae ultricies eros vestibulum. In hac habitasse platea dictumst. Phasellus dignissim, lorem at ultrices malesuada, mauris turpis pharetra magna, nec vulputate elit urna id justo. Sed sed nunc vitae lacus scelerisque ultrices. </p>


    </div>
  </div>

</div>




<app-footer></app-footer>
